<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="pharmacy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="pharmacy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <pharmacy.My.MySettings>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>pharmacy</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>V-PHARMA</value>
            </setting>
            <setting name="CompanyAddress" serializeAs="String">
                <value>Tarlac City</value>
            </setting>
            <setting name="CompanyNumbers" serializeAs="String">
                <value />
            </setting>
        </pharmacy.My.MySettings>
    </userSettings>
    <applicationSettings>
        <pharmacy.My.MySettings>
            <setting name="Developers" serializeAs="String">
                <value>http://sign01.iwopop.com/</value>
            </setting>
        </pharmacy.My.MySettings>
    </applicationSettings>
</configuration>
